<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connectordb_android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- ADD PERMISSIONS FOR LOGGING EXTENSIONS HERE -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>   <!-- LocationLogger -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />  <!-- Google fit logging -->

    <uses-permission android:name="com.urbandroid.sleep.READ" /> <!-- sleep data -->
    
    <uses-feature android:name="android.hardware.location" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="true" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <!-- END LOGGING PERMISSIONS -->

    <!--<uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />-->

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <service
            android:name=".loggers.LoggerService"
            android:enabled="true"
            android:exported="true"
            >
        </service>

        <receiver
            android:name=".Receiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="WifiManager.NETWORK_STATE_CHANGED_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
